<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>产品详情</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/icon.png">
    <!-- Style Css -->
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


</head>
<body>
<!-- Wrapper -->
<div id="wrapper" class="wrapper">


    <!-- 购买联系方式 -->
    <!-- Modal -->
    <div class="modal fade" id="buyModel" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">购买联系方式</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="@{邮箱:{a} (a=${user.email})}"></p>
                    <p th:text="@{电话号码:{b} (b=${user.phone})}"></p>
                    <p th:text="@{微信:{c} (c=${user.wechat})}"></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Header -->
    <header class="header sticky-header">

        <div id="head" th:include="common/template :: common_head"></div>

        <!-- Header Middle Area -->
        <div class="header-middle-area cr-border cr-border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <form class="header-search">
                            <input type="text" placeholder="Search product...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 col-12">
                        <div class="header-logo">
                            <a href="/index">
                                <img src="/imgs/logo2.png" alt="logo">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Header Middle Area -->
    </header>
    <!--// Header -->

    <!-- Page Conttent -->
    <main class="page-content">

        <!-- Product Page Wrapper -->
        <div class="product-page-wrapper section-padding-bottom-md">
            <div class="container">

                <!-- Shop Breadcrumb -->
                <div class="shop-breadcrumb">
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="#" th:text="${user.shopname}"></a></li>
                    </ul>
                </div>
                <!--// Shop Breadcrumb -->

                <!-- Poduct Details Wrapper -->
                <div class="row">

                    <div class="col-lg-9">

                        <!-- Product Details Inner -->
                        <div class="product-details">

                            <div id="carouselExampleControls" class="carousel slide"
                                 data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"
                                         th:if="${user.imgs.size()>0}">
                                        <img class="d-block w-100"
                                             th:src="@{/}+${user.imgs.get(0)}"

                                             alt="First slide">
                                    </div>
                                    <div class="carousel-item"
                                         th:if="${imglength>1}">
                                        <img class="d-block w-100"
                                             th:src="@{/}+${user.imgs.get(1)}"
                                             alt="Second slide">
                                    </div>
                                    <div class="carousel-item" th:if="${imglength>2}">
                                        <img class="d-block w-100"
                                             th:src="@{/}+${user.imgs.get(2)}"
                                             alt="Third slide">
                                    </div>
                                </div>
                            </div>


                            <!--// Product Details Left -->

                            <!-- Product Details Right -->
                            <div class="product-details-right">
                                <h5 class="product-title" th:text="${user.shopname}"></h5>



                                <!--<p>交易地址</p>-->

                                <div class="product-details-quantity">
                                    <button class="add-to-cart-button" id="buybutton"
                                            data-toggle="modal" data-target="#buyModel">
                                        <span>摊主联系方式</span>
                                    </button>
                                </div>

                                <div class="product-details-socialshare">
                                    <span>Share :</span>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                        <li><a href="#"><i class="fa fa-qq"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--// Product Details Right -->

                        </div>
                        <!--// Product Details Inner -->


                    </div>

                    <div class="col-lg-3">
                        <div class="widgets">

                            <div class="single-widget widget-related-product">
                                <h5 class="widget-title">同类推荐</h5>
                                <ul>
                                    <li>
                                        <div class="product-item">
                                            <div class="product-item-images">
                                                <a href="product-details-right-sidebar.html"
                                                   class="product-item-image-inner">
                                                    <img
                                                            th:src="@{/}+${user.imgs.get(0)}"
                                                            alt="product image">
                                                </a>
                                            </div>
                                            <div class="product-item-content">
                                                <div class="product-item-content-left">
                                                    <h5><a
                                                            href="product-details-right-sidebar.html">test</a>
                                                    </h5>
                                                    <div class="price-box">
                                                        <span class="pricebox-price">100</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-item">
                                            <div class="product-item-images">
                                                <a href="product-details-right-sidebar.html"
                                                   class="product-item-image-inner">
                                                    <img th:src="@{/}+${user.imgs.get(0)}"
                                                         alt="product image">
                                                </a>
                                            </div>
                                            <div class="product-item-content">
                                                <div class="product-item-content-left">
                                                    <h5><a
                                                            href="product-details-right-sidebar.html">test</a>
                                                    </h5>
                                                    <div class="price-box">
                                                        <span class="pricebox-price">100</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-item">
                                            <div class="product-item-images">
                                                <a href="product-details-right-sidebar.html"
                                                   class="product-item-image-inner">
                                                    <img th:src="@{/}+${user.imgs.get(0)}"
                                                         alt="product image">
                                                </a>
                                            </div>
                                            <div class="product-item-content">
                                                <div class="product-item-content-left">
                                                    <h5><a
                                                            href="product-details-right-sidebar.html">test</a>
                                                    </h5>
                                                    <div class="price-box">
                                                        <span class="pricebox-price">100</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!--// Poduct Details Wrapper -->
            </div>
        </div>
        <!--// Product Page Wrapper -->


    </main>
    <!--// Page Conttent -->

</div>
<!--// Wrapper -->

</body>


<!-- Js Files -->

<script src="/js/jquery-3.4.1.slim.min.js"></script>
<script src="/js/modernizr-3.6.0.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>


</html>